.navchan {

  background-color: rgb(224, 84, 142);
  padding: 30px;

}

a {

  color: #ffff;
  text-decoration: none;
  padding: 0px 6px;
  font-size: 17px;
  margin: 15px;
  font-family: Trebuchet MS, sans-serif;
}




